<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="topLayout">
	<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/index/indexFrom">한돗</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index/indexFrom">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/member/mypage/main">개인페이지</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">돗자리 나눔</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/member/post/showPosts">받으러 가기</a></li>
                            <li><a class="dropdown-item" href="/member/post/postForm">나눔하러 가기</a></li>
                        </ul>
                    </li>
                </ul>
                 <button class="btn btn-outline-dark" type="submit" onClick="location.href='/member/message/showAllMsg'">
                     메세지
                     <span class="badge bg-dark text-white ms-1 rounded-pill" th:text= "${messageCnt}"></span>
                 </button>
             &nbsp;
             	<span th:if="${#authentication.name}=='anonymousUser'">
                 	<button class="btn btn-outline-dark" type="button" th:text="로그인" onClick="location.href='/login/loginFrom'">
                     </button>
                    </span>
                    <span th:unless="${#authentication.name}=='anonymousUser'">
                 	<button class="btn btn-outline-dark" type="button" th:text="로그아웃" onClick="location.href='/login/logout'">
                     </button>
                    </span>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>